<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Guaycuru Beer Stock</title>
  </head>
  <body>
    <section class="main-container">
      <div class="container">
        <table>
          <thead>
            <tr>
              <th>Cerveja</th>
              <th>Estilo</th>
              <th>Quantidade</th>
              <th>Local</th>
              <th>Validade</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col_cerveja">Roleta Russa</td>
              <td class="col_estilo">Imperial IPA</td>
              <td class="col_qtd">2</td>
              <td class="col_local">Geladeira</td>
              <td class="col_validade">28/06/2023</td>
              <td><button class="beber_button">Beber</button></td>
            </tr>
            <tr>
              <td class="col_cerveja">Roleta Russa</td>
              <td class="col_estilo">Imperial IPA</td>
              <td class="col_qtd">2</td>
              <td class="col_local">Geladeira</td>
              <td class="col_validade">28/06/2023</td>
              <td><button class="beber_button">Beber</button></td>
            </tr>
            <tr>
              <td class="col_cerveja">Roleta Russa</td>
              <td class="col_estilo">Imperial IPA</td>
              <td class="col_qtd">2</td>
              <td class="col_local">Geladeira</td>
              <td class="col_validade">28/06/2023</td>
              <td><button class="beber_button">Beber</button></td>
            </tr>
            <tr>
              <td class="col_cerveja">Roleta Russa</td>
              <td class="col_estilo">Imperial IPA</td>
              <td class="col_qtd">2</td>
              <td class="col_local">Geladeira</td>
              <td class="col_validade">28/06/2023</td>
              <td><button class="beber_button">Beber</button></td>
            </tr>
            <tr>
              <td class="col_cerveja">Roleta Russa</td>
              <td class="col_estilo">Imperial IPA</td>
              <td class="col_qtd">2</td>
              <td class="col_local">Geladeira</td>
              <td class="col_validade">28/06/2023</td>
              <td><button class="beber_button">Beber</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
