<section class="main-container">
  <div class="container">
    <table *ngIf="items">
      <thead>
        <tr>
          <th>Marca</th>
          <th>Cerveja</th>
          <th>Estilo</th>
          <th>Quantidade</th>
          <th>Local</th>
          <th>Validade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td class="col_marca">{{ item.product.brand.name }}</td>
          <td class="col_cerveja">{{ item.product.name }}</td>
          <td class="col_estilo">...</td>
          <td class="col_qtd">{{ item.quantity }}</td>
          <td class="col_local">{{ item.storage.name }}</td>
          <td class="col_validade">{{ item.formattedExpiry }}</td>
          <td>
            <button class="beber_button" (click)="onBeberButtonClick(item)">
              Beber
            </button>
          </td>
          <td>
            <button class="add_item" (click)="onAddButtonClick(item)">
              +1
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
