<div class="item-form">
  <h2>Cadastrar nova Cerveja</h2>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="produto">Produto:</label>
      <select
        id="produto"
        name="produto"
        [(ngModel)]="selectedProductName"
        required
      >
        <option value="" disabled selected>Selecione um produto</option>
        <option
          *ngFor="let productName of productNames"
          [value]="productName"
          >{{ productName }}</option
        >
      </select>
    </div>
    <div class="form-group">
      <label for="armazenamento">Armazenamento:</label>
      <input
        type="text"
        id="armazenamento"
        name="armazenamento"
        [(ngModel)]="item.storage"
        required
      />
    </div>
    <div class="form-group">
      <label for="quantidade">Quantidade:</label>
      <input
        type="number"
        id="quantidade"
        name="quantidade"
        [(ngModel)]="item.quantity"
        required
      />
    </div>
    <div class="form-group">
      <label for="validade">Validade:</label>
      <input
        type="date"
        id="validade"
        name="validade"
        [(ngModel)]="expiryDate"
        required
      />
    </div>
    <button type="submit">Adicionar ao Estoque</button>
  </form>
</div>
